<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
  
  <project name="CodeSharp Work Tool">
    <sourcecontrol type="git">
      <executable>git.exe</executable>
      <repository>https://github.com/codesharp/work-tool.git</repository>
      <workingDirectory>c:\sourcecode\work-tool</workingDirectory>
    </sourcecontrol>
  </project>

  <project name="CodeSharp Infrastructure">
    <triggers>
      <intervalTrigger seconds="600" name="continuous" />
    </triggers>

    <sourcecontrol type="git">
      <executable>git.exe</executable>
      <repository>git://github.com/codesharp/infrastructure.git</repository>
      <workingDirectory>c:\sourcecode\infrastructure</workingDirectory>
    </sourcecontrol>

    <prebuild>
    </prebuild>

    <tasks>
      <nant>
        <executable>c:\sourcecode\work-tool\nant\nant.exe</executable>
        <baseDirectory>c:\sourcecode\infrastructure\dotnet\</baseDirectory>
        <buildArgs>-D:args0= -D:args1=</buildArgs>
        <buildFile>nant.build</buildFile>
        <logger>NAnt.Core.XmlLogger</logger>
        <targetList>
          <target>nuget</target>
        </targetList>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
      <nant>
        <executable>c:\sourcecode\work-tool\nant\nant.exe</executable>
        <baseDirectory>c:\sourcecode\infrastructure\dotnet\</baseDirectory>
        <buildArgs>-D:args0= -D:args1=</buildArgs>
        <buildFile>nant.build</buildFile>
        <logger>NAnt.Core.XmlLogger</logger>
        <targetList>
          <target>all</target>
        </targetList>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
      <!--unittest-->
      <nant>
        <executable>c:\sourcecode\work-tool\nant\nant.exe</executable>
        <baseDirectory>c:\sourcecode\infrastructure\dotnet\</baseDirectory>
        <buildArgs>-D:args0=Debug -D:args1=</buildArgs>
        <buildFile>nant.build</buildFile>
        <logger>NAnt.Core.XmlLogger</logger>
        <targetList>
          <target>test_framework</target>
        </targetList>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>
  </project>

  <project name="Cooper">
    <triggers>
      <intervalTrigger seconds="600" name="continuous" />
    </triggers>

    <sourcecontrol type="git">
      <executable>git.exe</executable>
      <repository>git://github.com/codesharp/cooper.git</repository>
      <workingDirectory>c:\sourcecode\cooper</workingDirectory>
    </sourcecontrol>

    <prebuild>
    </prebuild>

    <tasks>
      <nant>
        <executable>c:\sourcecode\work-tool\nant\nant.exe</executable>
        <baseDirectory>c:\sourcecode\cooper\</baseDirectory>
        <buildArgs>-D:args0= -D:args1=</buildArgs>
        <buildFile>nant.build</buildFile>
        <logger>NAnt.Core.XmlLogger</logger>
        <targetList>
          <target>nuget</target>
        </targetList>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
      <!--unittest-->
      <nant>
        <executable>c:\sourcecode\work-tool\nant\nant.exe</executable>
        <baseDirectory>c:\sourcecode\cooper</baseDirectory>
        <buildArgs>-D:args0=Debug -D:args1=</buildArgs>
        <buildFile>nant.build</buildFile>
        <logger>NAnt.Core.XmlLogger</logger>
        <targetList>
          <target>test_model</target>
        </targetList>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
      <!--web-->
      <nant>
        <executable>c:\sourcecode\work-tool\nant\nant.exe</executable>
        <baseDirectory>c:\sourcecode\cooper</baseDirectory>
        <buildArgs>-D:args0= -D:args1=</buildArgs>
        <buildFile>nant.build</buildFile>
        <logger>NAnt.Core.XmlLogger</logger>
        <targetList>
          <target>web</target>
        </targetList>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>
  </project>

</cruisecontrol>